.MuiTableCell-body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: #3a3c40 !important;
}

.actionIcon {
  cursor: pointer;
  color: #82868c;
  margin-right: 4px;
  font-size: 32px !important;
}
.actionIcon:hover {
  color: #6f7278;
}
