.datatableCell {
    background-color: #F5F5F7 !important;
    color:#3A3C40 !important;
    padding: 2px 16px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    border: none !important;
  }

  .datatableRow{
    border: none !important;
  }
  .checkBox{
    color: #82868C !important;
  }
  .searchInput{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #3A3C40 !important;
    font-family: 'Montserrat', sans-serif !important;

  }
  .searchInput .MuiInputBase-input::placeholder {
    font-size: 12px; 
    color: #3A3C40 !important;
  }

  .deleteIcon {
    cursor: pointer;
    color: #82868c;
    margin-right: 2px;
    font-size: 32px !important;
  }
  /* .deleteIcon:hover {
    color: #6f7278;
  }
   */